<mat-toolbar mat-dialog-title color="primary" fxLayout>
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-input-container>
        <input matInput [(ngModel)]="user.username" placeholder="Username" type="text" name="username" required>
      </mat-input-container>
      <mat-input-container>
        <input matInput [(ngModel)]="user.password" placeholder="Password" type="password" name="password" required>
      </mat-input-container>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">
        Remember Me
      </mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white">Login</button>
  </mat-dialog-actions>
</form>